.banner-wrapper {
    position: relative;
    width: 100%;
    height: auto;
}

.container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px; /* Arredonda os cantos do container */
    width: 80%; /* Ajuste conforme necessário */
    gap: 48px;
}

.content {
    flex: 1;
}

.button {
    width: 296px;
    height: 92px;
    display: block;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: var(--azul-bebe);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}


.title {
    margin: 10px 0;
    font-size: 46px;
    font-weight: bold;
    color: var(--branco);
    font-weight: 400;
}

.text {
    margin: 0;
    font-size: 16px;
    color: #F5F5F5;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

.imageContainer {
    flex: 1;
    text-align: right;
}

.image {
    max-width: 100%;
    width: 646px;
    height: 333px;
    border-radius: 10px; /* Arredonda os cantos da imagem */
    border: solid 4px #6BD1FF;
}



@media only screen and (min-width: 960px) and (max-width: 1024px) {
    .container {
        width: 100%; /* Ajuste conforme necessário */
        gap: 35px;
    }

    .title {
        margin: 10px 0;
        font-size: 2.5rem;
        font-weight: bold;
        color: var(--branco);
        font-weight: 400;
    }
  }
  
  /* Menor que o padrão 960 (dispositivos e navegadores) */
  @media only screen and (max-width: 959px) {}
  
  /* Tamanho retrato do tablet no padrão 960 (dispositivos e navegadores) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .container {
        width: 100%; /* Ajuste conforme necessário */
    }

    .title {
        margin: 10px 0;
        font-size: 2.5rem;
        font-weight: bold;
        color: var(--branco);
        font-weight: 400;
    }
   
  }
  
  /* Todos os tamanhos de celular (dispositivos e navegador) */
  @media only screen and (max-width: 767px) {
    .container {
        padding: 10px;
        width: 100%; /* Ajuste conforme necessário */
        gap: 5px;
    }

    .title {
        font-size: 2rem;
    }

    .button {
        width: 256px;
        height: 82px;
        font-size: 2.5rem;
    }

    
    .image {
        max-width: 100%;
        width: 360px;
        height: 300px;
        box-sizing: border-box;
    }
    
  }
  
  /* Tamanho de paisagem móvel para retrato de tablet (dispositivos e navegadores) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {}


  @media only screen and (min-width: 480px) and (max-width: 659px) {
    .container {
        display: none;
    }
  }
  
  /* Tamanho retrato móvel para tamanho paisagem móvel (dispositivos e navegadores) */
  @media only screen and (max-width: 479px) {
    .container {
        display: none;
    }
  }