
.cabecalho {
  width: 100%;
  height: 125px;
  padding: 0 51.15px; /* Espaçamento de 51.15px nos lados esquerdo e direito */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cinza); 
  box-sizing: border-box; /* Mantém o padding dentro da largura total */
  margin-left: auto; /* Empurra o cabeçalho para o centro */
  margin-right: auto; /* Empurra o cabeçalho para o centro */
}


.cabecalhoCinza {
  background-color: var(--cinza);
}

.cabecalhoPreto {
  background-color: var(--preto);
}

  
  .cabecalho nav ul {
    list-style: none;
    display: flex;
  }
  
  .cabecalho nav ul li {
    margin-left: 20px;
  }
  
  .cabecalho nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  .cabecalho img {
    max-width: 168px;
    max-height: 40px;
    vertical-align: middle;
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
  }