.card {
  width: 432px;
  height: 319px;
  position: relative;
  border: 4px solid var(--azul-bebe);
  border-radius: 10px;
  box-sizing: border-box;
  background-color: var(--preto);
  box-shadow: 0 0 40px rgba(107, 209, 255, 0.5); /* Adiciona box-shadow ao card */
  margin: 20px 20px;
}

.cardImg {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-bottom: 4px solid var(--azul-bebe);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 0 40px rgba(107, 209, 255, 0.5); /* Adiciona box-shadow à imagem */
}

.cardActions {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.actionItem {
  display: flex;
  align-items: center;
  gap: 20px;
}

.actionItem span {
  color: var(--branco);
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

@media only screen and (min-width: 960px) and (max-width: 1024px) { 
  

}


/* Tamanho retrato do tablet no padrão 960 (dispositivos e navegadores) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .card {
    width: 335px;
  }

}


/* Tamanho de paisagem móvel para retrato de tablet (dispositivos e navegadores) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .card {
    width: 100%;
  }
}

/* Tamanho retrato móvel para tamanho paisagem móvel (dispositivos e navegadores) */
@media only screen and (max-width: 479px) {}