:root {
  --fonte: 'Roboto', sans-serif;
  --cinza: #262626;
  --preto: #000000;
  --azul-bebe: #6BD1FF;
  --verde: #00C86F;
  --laranja: #FFBA05;
  --branco: #FFFFFF;
}


body {
  margin: 0;
  font-family: var(--fonte);
  background-color: var(--cinza);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
